@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.65rem;
}

/* Track */
.dark ::-webkit-scrollbar-track {
  background: rgba(33, 19, 40, 0.47);
}

/* Handle */
.dark ::-webkit-scrollbar-thumb {
  background: rgb(40, 23, 47);
  border-radius: 5px;
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background: #381d46;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(241, 209, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(234, 179, 255);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(232, 163, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #000;
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spinner {
  display: none !important;
}

.dark .enter {
  background: rgb(29, 32, 44) !important;
  color: #fff;
  border: none;
}

.enter {
  background: rgb(245, 245, 245) !important;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.dark .tippy-tooltip-content {
  @apply p-2;
  color: #fff;
}

.tippy-tooltip-content {
  @apply p-2;
  color: #000;
}
