@tailwind base;
@tailwind components;
@tailwind utilities;

@import "preflight";

/* width */
::-webkit-scrollbar {
  width: 0.65rem;
}

/* Track */
.dark ::-webkit-scrollbar-track {
  background: rgba(33, 19, 40, 0.47);
}

/* Handle */
.dark ::-webkit-scrollbar-thumb {
  background: rgb(40, 23, 47);
  border-radius: 5px;
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background: #381d46;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(241, 209, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(234, 179, 255);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(232, 163, 255);
}

